.breadcrumbs-wrapper .breadcrumb {
    all: unset;
}

.fragment-embed-wrapper #fragment-embed-title {
  display: none;
}

.fragment-embed.block h2 {
  text-wrap: auto;
}
  
.fragment-embed.block h2 sup {
  font-size: 75%;
}

.fragment-embed.block h5,
.fragment-embed.block h6 {
  font-size: 1rem;
}

.healthcare .section.fragment-embed-container:has(.default-content-wrapper + .fragment-embed-wrapper) .default-content-wrapper {
  margin-block-end: 0;
}

main .section .fragment-embed-wrapper h3.keyline u::after {
  display: unset;
}

.healthcare main .section .fragment-embed-wrapper h5.keyline u::after,
.healthcare main .section .fragment-embed-wrapper h4.keyline u::after {
  display: unset;
}

@media (width >=770px) {
  .fragment-embed.align-center .keyline {
    text-align: center;
  }

  .fragment-embed.align-center .keyline u::after {
    margin: 1rem auto 0;
  }
}

@media (width >=1280px) {
  .fragment-embed.block h5 {
    font-size: 1.25rem;
  }
}