@import url('../../styles/ups-icons.css');

.back-btn{
    position: fixed;
    bottom: 3rem;
    right: 5%;
    height: 50px;
    width: 50px;
    background-color: var(--gold);
    border-radius: 50%;
    opacity: 0;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: scale(0);
}

.back-btn:hover{
    background-color: var(--gold-light);
}

.up-arrow{
    width: 1.9rem;
}
